.productCard {
  cursor: pointer;
  border: 1px solid $gray300;
  border-radius: 8px;
  padding: 5px;

  .productCard_container {
    .product_image {
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      img {
        max-width: 100%;
        // height: auto;
      }
    }
    .product_desc {
      > p {
        margin: 0;
      }
      .product_desc_row1 {
        .product_title {
          font-size: $h3;
          font-weight: bold;
          margin-right: 10px;
          letter-spacing: -1px;
        }
      }

      .product_desc_row2 {
        font-size: $t1;
        .product_discountPercentage {
          margin-right: 10px;
        }
        .product_originalPrice {
          text-decoration: line-through;
        }
      }

      .product_desc_row3 {
        font-size: $t1;

        .product_discountedPrice {
          font-weight: bold;
        }
      }
    }
  }
}
