.cartItem {
  .cartItem_container {
    border: 1px solid $gray300;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 8px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 100px;

    .cartItem_thumbnail {
      @include undermobile {
        margin-right: 20px;
      }
    }

    > div {
      font-size: 18px;

      @include mobile {
        grid-template-columns: 1fr 2fr 100px;
        font-size: 13px;
      }
    }

    .cartItem_remove {
      width: 80px;
    }
  }
}

.cartPage {
  .cartPage_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 8px;

    @include undermobile {
      grid-template-columns: 1fr;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }

    @include tablet {
      grid-template-columns: 1fr;
    }

    @include desktop {
      grid-template-columns: 2fr 1fr;
    }

    .cartPage_section2 {
      background-color: #f3f3f3;
      border-radius: 8px;
      padding: 16px;
      height: 140px;

      .total_amount,
      .total_cost {
        display: flex;
        justify-content: space-between;
      }
      .total_amount_title,
      .total_cost_title {
        display: inline-block;
        width: 50%;
        font-size: 17px;
      }

      .total_amount_item,
      .total_cost_item {
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
      }

      .total_cost_item {
        color: $highlight;
      }

      .cart_removeAll {
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}
