.landingPage {
  .landingPage_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 8px;
    @include undermobile {
      grid-template-columns: repeat(1, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.landingPageLoader {
  .landingPageLoader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    > span {
      font-size: $h3;
    }
  }
}

.landingPage_bottom {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;

  .productsList_end {
    font-size: $h2;
  }
}
