.landingPage {
  .landingPage_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 8px;
  }
}

.landingPageLoader {
  .landingPageLoader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    > span {
      font-size: $h3;
    }
  }
}
