.loginRow {
  border-bottom: 1px solid #eee;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  .loginRow_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: $container_width;
  }
}
