.totalProductRow {
  border-bottom: 1px solid #eee;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;

  .totalProductRow_container {
    width: $container_width;
  }

  .active {
    color: #1890ff;
    font-weight: bold;
  }
}
