$container_width: 1200px;

// color
$highlight: #1890ff;

$gray300: #e4e5e8;
$gray400: #d4d6db;
$gray500: #b6b9c7;
$gray600: #8a8fa7;
$gray700: #68708a;
$gray800: #4d556d;
$gray900: #394157;

$red600: #f76158;
$red700: #f15454;
$red800: #d12c2c;
$red900: #b92b17;

$orange500: #ff9446;
$orange600: #ff8311;
$orange700: #ff7134;
$orange800: #ff512b;

$mint500: #00b7c7;
$mint600: #00a8b7;
$mint700: #008b9e;
$mint800: #077180;
$mint900: #00606d;

// size
$h1: 30px;
$h2: 26px;
$h3: 22px;
$t1: 16px;
$c1: 13px;

// device
$breakpoint-mobile: 425px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

@mixin undermobile {
  // @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
  @media (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
