$container_width: 1200px;

// color
$gray300: #e4e5e8;
$gray400: #d4d6db;
$gray500: #b6b9c7;
$gray600: #8a8fa7;
$gray700: #68708a;
$gray800: #4d556d;
$gray900: #394157;

$red600: #f76158;
$red700: #f15454;
$red800: #d12c2c;
$red900: #b92b17;

$orange500: #ff9446;
$orange600: #ff8311;
$orange700: #ff7134;
$orange800: #ff512b;

$mint500: #00b7c7;
$mint600: #00a8b7;
$mint700: #008b9e;
$mint800: #077180;
$mint900: #00606d;
